@"
.git
.gitignore
README.md
node_modules
.npm
.next
Dockerfile*
docker-compose*
.dockerignore
.env
.env.local
.env.development
.env.production
.vercel
.next
out
dist
"@ | Out-File -FilePath ".dockerignore" -Encoding utf8